registry=https://registry.npmmirror.com/
# 使用 pnpm 必须在项目根目录下建立 .npmrc 文件， shamefully-hoist = true ，否则安装的模块无法放置到 node_modules 目录下
shamefully-hoist = true

strict-peer-dependencies=false
# 锁定node版本，配合package.json中的engines字段
engine-strict = true